<!-- Footer Area Start -->
<footer class="main-footer bg-blue text-white pt-75">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-3 col-sm-4">
        <div class="footer-widget about-widget">
          <h5 class="footer-title">Sobre Nós</h5>
          <p>
            Nossas palestras, cursos, oficinas e/ou intervenções teatrais são verdadeiros shows de motivação pessoal e profissional
          </p>
          <h5 class="pt-5">Redes Sociais</h5>
          <div class="social-style-one">
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="footer-widget menu-widget">
          <h5 class="footer-title">Links</h5>
          <ul>
            <li><a href="/">Home</a></li>
            <li><%= link_to "Serviços", servicos_path %></li>
            <li><%= link_to "Sobre", sobre_path %></li>
            <li><%= link_to "CEO", ceo_path %></li>
            <li><%= link_to "Blog", posts_path %></li>
            <li><%= link_to "Loja", produtos_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="footer-widget contact-info-widget">
              <h5 class="footer-title">Entrar em Contato</h5>
              <ul>
                <li>
                  <i class="fas fa-map-marker-alt"></i> Rua São Pedro, 709
                  - Todos Os Santos, Montes Claros - MG
                </li>
                <li>
                  <i class="far fa-envelope"></i>
                  <a href="mailto:pratikartes@gmail.com"
                          >pratikartes@gmail.com</a
                        >
                </li>
                <li>
                  <i class="fab fa-whatsapp"></i>
                  <a href="#">(38) 98834-9144</a>
                </li>
                <li>
                  <i class="fab fa-whatsapp"></i> <a href="#">(38) 99186-2918</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="footer-widget video-widget">
              <p>Conheça a Pratikartes e seu CEO</p>
              <div class="video-widget overlay my-20">
                <%= image_tag "footer/video.jpg", alt:"Video" %>
                <a
                        href="https://www.youtube.com/watch?v=9Y7ma241N8k"
                        class="mfp-iframe video-play"
                        ><i class="fas fa-play"></i
                      ></a>
              </div>
              <%= link_to "Ver Mais <i class='fas fa-arrow-right'></i>".html_safe, sobre_path, class: "read-more" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area bg-dark-blue rel">
    <div class="container">
      <div class="copyright-inner">
        <p>
          © 2023.
          <a href="https://www.fswebsite.net" target="_blank">FSWeb</a> |
          Todos os Direitos Reservados.
        </p>
        <ul class="footer-menu">
          <li><%= link_to "Serviços", servicos_path %></li>
          <li><%= link_to "A Empresa", sobre_path %></li>
          <li><%= link_to "Enviar Mensagem", "#" %></li>
        </ul>
      </div>
    </div>
    <!-- Scroll Top Button -->
    <button class="scroll-top scroll-to-target" data-target="html">
      <span class="fas fa-angle-double-up"></span>
    </button>
    <div class="container text-center">
      <%= link_to "<i class='fas fa-cog'></i>".html_safe, admin_path %>
    </div>
  </div>
</footer>
<!-- Footer Area End -->
