<section class="container text-center p-5 margin-top-form form-login">
  <div class="container mt-5">
    <%= simple_form_for(@post) do |f| %>
      <%= f.input :title, placeholder: "Digite o Título do post", label: "Título" %>
      <%= f.input :body, placeholder: "Texto", label: "Digite o corpo do texto", as: :text %>
      **Para pular linhas no corpo do texto, adicione \n
      <br>
      <br>
      <%= f.input :img_url, as: :file, label: "Imagem" %>
      <%= f.submit "Criar post", class: "botao-submit" %>
    <% end %>
  </div>
</section>

<script>
  document.querySelectorAll(".navbar-collapse.collapse.clearfix .navigation.clearfix>li").forEach((element) => {
    if(element.innerText.toUpperCase() === "BLOG") {
      element.classList.add("current")
    } else {
      element.classList.remove("current")
    }
  });
</script>
