<div class="container mt-5">
  <%= simple_form_for(@post) do |f| %>
    <%= f.input :title, placeholder: "Digite o Título do post", label: "Título" %>
    <%= f.input :body, placeholder: "Texto", label: "Digite o corpo do texto", as: :text %>
    <%= f.input :img_url, as: :file %>
    <%= f.submit %>
  <% end %>
  **Para pular linhas no corpo do texto, adiciona \n
</div>
