<h1>Post</h1>
<%= @post.title %>
<br>
<%= @post.body %>
<br>
<%= cl_image_tag @post.img_url.key, height: 300, width: 400, crop: :fill %>
<br>
<%= @post.data %>
<br>
<br>
<br>
<% if current_user.admin == true %>
  <%= link_to "Excluir Post",
    post_path(@post),
    data: {turbo_method: :delete, turbo_confirm: "Você tem certeza que deseja excluir este Post? Essa ação não pode ser desfeita!"}
  %>
<% end %>
<%= link_to "Posts", posts_path %>
