<section class="container text-center mt-3">
  <h1>
    <%= @post.title %>
  </h1>
  <%= cl_image_tag @post.img_url.key, height: 300, width: 400, crop: :fill %>
  <br>
  <p id="texto-blog"><span class="ms-3"></span><%= @post.body.split(/\\n/).join("<br />").html_safe %></p>
  <br>
  <br>
  <%= @post.data %>
  <br>
  <% if current_user.admin == true %>
    <%= link_to "Excluir Post",
    post_path(@post),
    data: {turbo_method: :delete, turbo_confirm: "Você tem certeza que deseja excluir este Post? Essa ação não pode ser desfeita!"}
  %>
  <% end %>
  <%= link_to "Posts", posts_path %>
</section>
